header {
  background-color: #76B55B;
  height: 60px;
  margin: -8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header-logo {
  color: #fff;
  font-size: 25px;
  margin: 15px 25px;
}

.header_img {
  height: 25px;
  margin: 15px 25px;
}

.main {
  height: 750px;
}

h2 {
  color: #444444;
  margin: 90px 0px;
  text-align: center;
}

p {
  color: #444444;
  margin: 70px 0px 30px 0px;
  text-align: center;
}

.answer {
  color: #444444;
  margin: 70px 0px 30px 0px;
  text-align: center;
  font-size: 125%
}

form {
  text-align: center;
  margin-bottom: 1em;
}

footer {
  background-color: #F7F7F7;
  height: 110px;
  margin: -8px;
  /* position: relative; */
  /* position: absolute; */
  bottom: 0; 
}

.footer_img {
  height: 25px;
  margin: 15px 25px;
}

small {
  margin: 15px 25px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.upload_image {
  color: #444444;
  display: block;
  margin:auto;
  max-width:50%;
  max-height:50%
  /* height:auto; */
}

.image_choose {
  margin-bottom: 1em;
}