<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Image Classifier</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <!-- <img class="header_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy"> -->
        <a class="header-logo" href="#">Animal Image Classifier</a>
    </header>

    <div class="main">    
        <h2> AIが犬、猫、うさぎの画像を識別します</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <div class="image_choose"><input class="file_choose" type="file" name="file"></div>
            <div><input class="btn" value="画像を識別する" type="submit"></div>
        </form>
        <!-- <img src="{{imagefile}}" style="display: block; margin: auto;"> -->
        <img class="upload_image" src="{{imagefile}}">
        <!-- <div>{{imagefile}}</div> -->
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <!-- <img class="footer_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy"> -->
        <!-- <small>&copy; 2019 Aidemy, inc.</small> -->   
    </footer>
      
</body>
</html>